<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formulario</title>
</head>
<body>

    <h2 th:text="${formulario}"></h2>

    <form th:action="@{/form}" th:object="${usuario}" method="POST">
        <div>
            <label for="idNombre">Nombre</label>
            <div> <input type="text" id="idNombre" th:field="*{nombre}"> </div>
            <div th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
        </div>
        <div>
            <label for="idApellido">Apellido</label>
            <div> <input type="text" id="idApellido" th:field="*{apellido}"> </div>
            <div th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></div>
        </div>
        <div>
            <label for="idUsername">Username</label>
            <div> <input type="text" id="idUsername" th:field="*{username}"> </div>
            <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
        </div>
        <div>
            <label for="idPassword">Password</label>
            <div> <input type="password" id="idPassword" th:field="*{password}"> </div>
            <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
        </div>
        <div>
            <label for="idEmail">E-mail</label>
            <div> <input type="text" id="idEmail" th:field="*{email}"> </div>
            <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
        </div>

        <div>
            <div> <input type="submit" value="Enviar"> </div>
        </div>
    </form>

</body>
</html>