<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formulario</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>

    <h2 th:text="${formulario}"></h2>

    <section th:replace="/plantillas/TiempoTranscurrido :: plantillaTiempoTranscurrido"></section>

    <div class="container">

        <form th:action="@{/form}" th:object="${usuario}" method="POST">

            <div>
                <div> <input type="hidden" th:field="*{valorSecreto}"> </div>
                <!--div th:if="${#fields.hasErrors('valorSecreto')}" th:errors="*{valorSecreto}"></div-->
            </div>

            <div class="mb-3 row">
                <label class="form-label col-sm-1" for="idPais">Pais</label>
                <div class="col-sm-5">
                    <select class="form-select" id="idPais" th:field="*{pais}">
                        <option value="">Seleccionar:</option>
                        <option th:each="pais : ${listaPaises}" th:text="${pais.nombre}" th:value="${pais.id}"></option>
                    </select>
                </div>
                <div th:if="${#fields.hasErrors('pais')}" th:errors="*{pais}" class="alert alert-danger"></div>
            </div>

            <div class="mb-3 row">
                <label class="form-label col-sm-1">Roles</label>
                <div class="form-check" th:each="role : ${listaRoles}">
                    <input class="form-check-input" type="checkbox" th:field="*{roles}" th:value="${role.id}"
                           th:checked="${#lists.contains(usuario.roles, role)}">
                    <label class="form-check-label" th:for="${#ids.prev('roles')}" th:text="${role.nombre}"></label>
                </div>
                <div th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}" class="alert alert-danger"></div>
            </div>

            <div class="mb-3 row">
                <label class="form-label col-sm-1" for="identificador">Identificador</label>
                <div class="col-sm-5">
                    <input class="form-control" type="text" id="identificador" th:field="*{identificador}">
                </div>
                <div th:if="${#fields.hasErrors('identificador')}" th:errors="*{identificador}" class="alert alert-danger"></div>
            </div>

            <div class="mb-3 row">
                <label class="form-label col-sm-1" for="idNombre">Nombre</label>
                <div class="col-sm-5">
                    <input class="form-control" type="text" id="idNombre" th:field="*{nombre}">
                </div>
                <div th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" class="alert alert-danger"></div>
            </div>

            <div class="mb-3 row">
                <label class="form-label col-sm-1" for="idApellido">Apellido</label>
                <div class="col-sm-5">
                    <input class="form-control" type="text" id="idApellido" th:field="*{apellido}">
                </div>
                <div th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}" class="alert alert-danger"></div>
            </div>

            <div class="mb-3 row">
                <label class="form-label col-sm-1" for="idUsername">Username</label>
                <div class="col-sm-5">
                    <input class="form-control" type="text" id="idUsername" th:field="*{username}">
                </div>
                <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="alert alert-danger"></div>
            </div>

            <div class="mb-3 row">
                <label class="form-label col-sm-1" for="idPassword">Password</label>
                <div class="col-sm-5">
                    <input class="form-control" type="password" id="idPassword" th:field="*{password}">
                </div>
                <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="alert alert-danger"></div>
            </div>

            <div class="mb-3 row">
                <label class="form-label col-sm-1" for="idEmail">E-mail</label>
                <div class="col-sm-5">
                    <input class="form-control" type="text" id="idEmail" th:field="*{email}">
                </div>
                <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="alert alert-danger"></div>
            </div>

            <div class="mb-3 row">
                <label class="form-label col-sm-1" for="idCuenta">Cuenta</label>
                <div class="col-sm-5">
                    <input class="form-control" type="text" id="idCuenta" th:field="*{cuenta}">
                </div>
                <div th:if="${#fields.hasErrors('cuenta')}" th:errors="*{cuenta}" class="alert alert-danger"></div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="IdFechaNacimiento">Fecha de Nacimiento</label>
                <div>
                    <input type="date" id="IdFechaNacimiento" th:field="*{fechaNacimiento}" placeholder="1980-02-31">
                </div>
                <div th:if="${#fields.hasErrors('fechaNacimiento')}" th:errors="*{fechaNacimiento}" class="alert alert-danger"></div>
            </div>

            <div class="mb-3">
                <label class="form-check-label" for="idHabilitar">Habilitar</label>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="idHabilitar" th:field="*{habilitar}">
                </div>
            </div>

            <div class="mb-3">
                <label>Género</label>
                <div class="form-check" th:each="gen : ${listaGeneros}">
                    <input class="form-check-input" type="radio" th:field="*{genero}" th:value="${gen}">
                    <label class="form-check-label" th:for="${#ids.prev('genero')}" th:text="${gen}"></label>
                </div>
                <div th:if="${#fields.hasErrors('genero')}" th:errors="*{genero}" class="alert alert-danger"></div>
            </div>

            <div class="mb-3">
                <div>
                    <input class="btn btn-primary" type="submit" value="Enviar">
                </div>
            </div>
        </form>
    </div>

</body>
</html>