<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<!-- PLANTILLA PARA MOSTRAR EL 'HEAD' -->
<head th:replace="plantillas/layoutPrincipal :: headPrincipal"></head>
<body>

    <!-- PLANTILLA PARA MOSTRAR EL 'HEADER' -->
    <header th:replace="plantillas/layoutPrincipal :: headerPrincipal"></header>

    <div class="container py-3">
        <div class="card">

            <div class="card-header" th:text="${titulo}"></div>

            <div class="card-body">

                <div class="card-title">
                    <a class="btn btn-primary btn-xs" th:href="@{/form}" th:text="'Crear Cliente'"></a>
                </div>

                <table th:if="${not clientes.isEmpty()}">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Apellido Paterno</th>
                        <th>Apellido Materno</th>
                        <th>E-mail</th>
                        <th>CreateAt</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each=" cliente : ${clientes}">
                        <td th:text="${cliente.id}"></td>
                        <td th:text="${cliente.nombre}"></td>
                        <td th:text="${cliente.apellidoPaterno}"></td>
                        <td th:text="${cliente.apellidoMaterno}"></td>
                        <td th:text="${cliente.email}"></td>
                        <td th:text="${cliente.createAt}"></td>
                        <td> <a class="btn btn-success btn-sm" th:href="@{/form/} + ${cliente.id}" th:text="'Editar'"></a> </td>
                        <td>
                            <a class="btn btn-danger btn-sm" th:href="@{/eliminar/} + ${cliente.id}" th:text="'Eliminar'"
                               onclick="return confirm('¿Estas seguro que quieres eliminar?')"></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="card-footer text-muted">
                <nav th:replace="paginator-nav :: paginator"></nav>
            </div>

        </div>
    </div>

    <br><br><br><br><br>

    <!-- PLANTILLA PARA MOSTRAR EL 'FOOTER' -->
    <footer th:replace="plantillas/layoutPrincipal :: footerPrincipal"></footer>

</body>
</html>