<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<body>

    <nav th:fragment="paginator">

        <ul class="pagination">
            <li class="page-item">
                <span class="page-link" th:if="${pageRender.first}">Primera</span>
                <a class="page-link" th:if="${not pageRender.first}" th:href="@{${pageRender.url}(pageRender = 0)}">Primera</a>
            </li>

            <li class="page-item">
                <span class="page-link" th:if="${not pageRender.hasPrevious}">Anterior</span>
                <a class="page-link" th:if="${pageRender.hasPrevious}" th:href="@{${pageRender.url}(page = ${pageRender.paginaActual - 2})}">Anterior</a>
            </li>

            <li class="page-item" th:each="itemPagina : ${pageRender.paginas}">
                <span class="page-link " th:if="${itemPagina.actual}" th:text="${itemPagina.numeroPagina}"></span>
                <a class="page-link" th:if="${not itemPagina.actual}" th:href="@{${pageRender.url}(page = ${itemPagina.numeroPagina - 1})}" th:text="${itemPagina.numeroPagina}"></a>
            </li>

            <li class="page-item">
                <span class="page-link" th:if="${not pageRender.hasNext}">Siguiente</span>
                <a class="page-link" th:if="${pageRender.hasNext}" th:href="@{${pageRender.url}(page = ${pageRender.paginaActual})}">Siguiente</a>
            </li>

            <li class="page-item">
                <span class="page-link" th:if="${pageRender.last}">Última</span>
                <a class="page-link" th:if="${not pageRender.last}" th:href="@{${pageRender.url}(page = ${pageRender.totalPaginas - 1})}">Última</a>
            </li>
        </ul>

    </nav>

</body>
</html>