<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Resultado</title>
</head>
<body>

    <h2 th:text="${titulo}"></h2>

    <ul>
        <li th:text="${user.identificador}"></li>
        <li th:text="${user.nombre}"></li>
        <li th:text="${user.apellido}"></li>
        <li th:text="${user.username}"></li>
        <li th:text="${user.password}"></li>
        <li th:text="${user.email}"></li>
        <li th:text="${user.cuenta}"></li>
        <li th:text="${#dates.format(user.fechaNacimiento, 'dd/MM/yyyy')}"></li>
        <li th:text="${user.pais}"></li>
        <li th:text="'Habilitado: ' + ${user.habilitar}"></li>
        <li th:text="'Género: ' + ${user.genero}"></li>
        <li th:text="'Valor Secreto: ' + ${user.valorSecreto}"></li>
    </ul>

    <div>Roles</div>
    <ul>
        <li th:each="role: ${user.roles}" th:text="${role.id} + ' : ' + ${role.nombre} + ' => ' + ${role.role}"></li>
    </ul>

</body>
</html>